# Building the dataset

In [5]:
import numpy as np                                                                                 
import pandas as pd                                                                                
import matplotlib.pyplot as plt                                                                    
import psycopg2                                                                                    
from IPython.display import display, HTML # used to print out pretty pandas dataframes             
import matplotlib.dates as dates                                                                   
import matplotlib.lines as mlines                                                                  
from itertools import chain                                                                        
                                                                                                   
%matplotlib inline                                                                               
# plt.style.use('ggplot')

## Database Connection

In [6]:
# specify user/password/where the database is                                            
sqluser = 'postgres'                                                                     
sqlpass = 'postgres'                                                                     
dbname = 'mimic'                                                                         
schema_name = 'mimiciii'                                                                 
host = 'localhost'                                                                       
                                                                                         
query_schema = 'SET search_path to ' + schema_name + ';'                                 
                                                                                         
# connect to the database                                                                
con = psycopg2.connect(dbname=dbname, user=sqluser, password=sqlpass, host=host)

## List initialization

In [7]:
l_subject_id = []          
l_hadm_id = []             
l_icu = []                 
l_amdission_age = []       
l_gender = []              
l_dod = []                 
l_admission_type = []      
l_curr_service = []        
l_thirty_day_mort = []     
                           
l_heartrate_mean = []      
l_meanbp_mean = []         
l_sysbp_mean = []          
l_tempc_mean = []          
l_spo2_mean = []           
l_resprate_mean = []       
l_diasbp_mean = []         
l_glucose_mean = []        
                           
l_creatinine_max = []      
l_potassium_max = []       
l_sodium_max = []          
l_chloride_max = []        
l_bicarbonate_max = []     
l_hematocrit_max = []      
l_wbc_max = []             
l_glucose_max = []         
l_lactate_max = []         
l_aniongap_max = []        
l_albumin_max = []         
l_bands_max = []           
l_bilirubin_max = []       
l_hemoglobin_max = []      
l_ptt_max = []             
l_inr_max = []             
l_pt_max = []              
l_bun_max = []                                       
l_is_AKI = []              
l_is_Betablocker = []

## Retrieveing Subject_id for sepsis patients

In [8]:
query = query_schema + """             
select distinct subject_id             
from angus_sepsis                      
where angus = 1                        
"""                                    
                                       
df1 = pd.read_sql_query(query,con)

### querying dempgraphics, labs, vitals as well as filling the lists with the corresponding values

In [10]:
for i in range(0, len(df1['subject_id']) - 1):

    id = df1['subject_id'][i]

    #############################
    # Retrieveing Demographics
    #############################

    query = query_schema + """
    select subject_id, hadm_id, icustay_id, admission_age, gender, dod, admission_type, curr_service, thirty_day_mort
    from static_data
    where subject_id = """ + str(id)

    df2 = pd.read_sql_query(query, con)

    demographics = df2.values


    #############################
    # Retrieveing vital signs
    #############################

    query = query_schema + """
    select  heartrate_mean, meanbp_mean, sysbp_mean, tempc_mean, spo2_mean, resprate_mean, diasbp_mean, glucose_mean   
    from vitalsfirstday
    where subject_id = """ + str(id)

    df3 = pd.read_sql_query(query, con)

    vitals = df3.values



    #############################
    # Retrieveing Lab tests
    #############################

    query = query_schema + """
    select   creatinine_max, potassium_max, sodium_max, chloride_max, bicarbonate_max, hematocrit_max, wbc_max, glucose_max, lactate_max, aniongap_max, albumin_max, bands_max, bilirubin_max, hemoglobin_max, ptt_max, inr_max, pt_max, bun_max  
        from labsfirstday 
        where subject_id = """ + str(id)
    df4 = pd.read_sql_query(query, con)
    labs = df4.values

    #####################################
    # Retrieveing icd9_code to check AKI
    #####################################

    query = query_schema + """
            select icd9_code from diagnoses_icd where subject_id = """ + str(id)

    df5 = pd.read_sql_query(query, con)

    icd9_code = df5.values


    #####################################
    # Retrieveing betablocker to check AKI
    #####################################

    query = query_schema + """                                                   
            select drug_name_generic from prescriptions where subject_id = """ + str(id)

    df6 = pd.read_sql_query(query, con)

    betablocker = df6.values


    ###########################
    # filling lists with values
    ###########################

    if (df2.size == 0 or df3.size == 0 or df4.size == 0) :
        continue

    # filling the demographics lists

    l_subject_id.append(demographics[0][0])
    l_hadm_id.append(demographics[0][1])
    l_icu.append(demographics[0][2])
    l_amdission_age.append(demographics[0][3])
    l_gender.append(1) if (demographics[0][4] == 'F') else  l_gender.append(0)
    # l_gender.append(demographics[0][4])
    l_dod.append(demographics[0][5])
    l_admission_type.append(demographics[0][6])
    l_curr_service.append(demographics[0][7])
    l_thirty_day_mort.append(1) if (demographics[0][8] == 'Y') else  l_thirty_day_mort.append(0)
    # l_thirty_day_mort.append(demographics[0][8])

    # filling the vitals lists

    l_heartrate_mean.append(vitals[0][0])
    l_meanbp_mean.append(vitals[0][1])
    l_sysbp_mean.append(vitals[0][2])
    l_tempc_mean.append(vitals[0][3])
    l_spo2_mean.append(vitals[0][4])
    l_resprate_mean.append(vitals[0][5])
    l_diasbp_mean.append(vitals[0][6])
    l_glucose_mean.append(vitals[0][7])

    # filling the labs lists

    l_creatinine_max.append(labs[0][0])
    l_potassium_max.append(labs[0][1])
    l_sodium_max.append(labs[0][2])
    l_chloride_max.append(labs[0][3])
    l_bicarbonate_max.append(labs[0][4])
    l_hematocrit_max.append(labs[0][5])
    l_wbc_max.append(labs[0][6])
    l_glucose_max.append(labs[0][7])
    l_lactate_max.append(labs[0][8])
    l_aniongap_max.append(labs[0][9])
    l_albumin_max.append(labs[0][10])
    l_bands_max.append(labs[0][11])
    l_bilirubin_max.append(labs[0][12])
    l_hemoglobin_max.append(labs[0][13])
    l_ptt_max.append(labs[0][14])
    l_inr_max.append(labs[0][15])
    l_pt_max.append(labs[0][16])
    l_bun_max.append(labs[0][17])

    # filling the icd9_code lists

    l_is_AKI.append(1) if '5849' in icd9_code else l_is_AKI.append(0)


    # filling the betablocker list

    bb = ['Acebutolol','Atenolol','Metoprolol','Nadolol','Nebivolol' ,'Propranolol','Betaxolol' ,'Bisoprolol','Carteolol' ,'Carvedilol','Labetalol' ,'Nebivolol' ,'Penbutolol','Pindolol'  ,'Sotalol'   ,'Timolol' ] 

    if bb  in betablocker:
        l_is_Betablocker.append(1)
    else:
        l_is_Betablocker.append(0)


#######################################################

## Checking the length of each list

In [11]:
print(len(l_subject_id))
print(len(l_hadm_id))
print(len(l_icu))
print(len(l_amdission_age))
print(len(l_gender))
print(len(l_dod))
print(len(l_admission_type))
print(len(l_curr_service))
print(len(l_thirty_day_mort))
print(len(l_heartrate_mean))
print(len(l_meanbp_mean))
print(len(l_sysbp_mean))
print(len(l_tempc_mean))
print(len(l_spo2_mean))
print(len(l_resprate_mean))
print(len(l_creatinine_max))
print(len(l_potassium_max))
print(len(l_sodium_max))
print(len(l_chloride_max))
print(len(l_bicarbonate_max))
print(len(l_hematocrit_max))
print(len(l_wbc_max))
print(len(l_glucose_max))
print(len(l_lactate_max))
print(len(l_aniongap_max))
print(len(l_albumin_max))
print(len(l_bands_max))
print(len(l_bilirubin_max))
print(len(l_hemoglobin_max))
print(len(l_ptt_max))
print(len(l_inr_max))
print(len(l_pt_max))
print(len(l_bun_max))
print(len(l_is_AKI))
print(len(l_is_Betablocker))

24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934
24934

## Building the dataframe

In [13]:
data = pd.DataFrame({ 'subject_id' : l_subject_id,
'hadm_id' : l_hadm_id,
'icu' : l_icu,
'amdission_age' : l_amdission_age,
'gender' : l_gender,
# 'dod' : l_dod,
# 'admission_type' : l_admission_type,
# 'curr_service' : l_curr_service,
'thirty_day_mort' : l_thirty_day_mort,
'heartrate_mean' : l_heartrate_mean,
'meanbp_mean' : l_meanbp_mean,
'sysbp_mean' : l_sysbp_mean,
'tempc_mean' : l_tempc_mean,
'spo2_mean' : l_spo2_mean,
'resprate_mean' : l_resprate_mean,
'diasbp_mean' : l_diasbp_mean,
'glucose_vitals' : l_glucose_mean,
'creatinine_max' : l_creatinine_max,
'potassium_max' : l_potassium_max,
'sodium_max' : l_sodium_max,
'chloride_max' : l_chloride_max,
'bicarbonate_max' : l_bicarbonate_max,
'hematocrit_max' : l_hematocrit_max,
'wbc_max' : l_wbc_max,
'glucose_max' : l_glucose_max,
'lactate_max' : l_lactate_max,
'aniongap_max' : l_aniongap_max,
'albumin_max' : l_albumin_max,
'bands_max' : l_bands_max,
'bilirubin_max' : l_bilirubin_max,
'hemoglobin_max' : l_hemoglobin_max,
'ptt_max' : l_ptt_max,
'inr_max' : l_inr_max,
'pt_max' : l_pt_max,
'bun_max' : l_bun_max,
'is_AKI' : l_is_AKI,
'is_Betablocker' : l_is_Betablocker
  }, columns=['subject_id','hadm_id', 'icu', 'amdission_age', 'gender', 'thirty_day_mort', 'heartrate_mean', 'meanbp_mean', 'sysbp_mean','tempc_mean','spo2_mean','resprate_mean', 'glucose_vitals' ,'creatinine_max','potassium_max','sodium_max','chloride_max' ,'bicarbonate_max','hematocrit_max','wbc_max','glucose_max','lactate_max', 'aniongap_max','albumin_max','bands_max','bilirubin_max','hemoglobin_max','lactate_max','ptt_max','inr_max','pt_max','bun_max', 'is_AKI', 'is_Betablocker'])

## exporting the data to .xls and .csv

In [15]:
data.describe()
# data.to_excel("/Users/joudsi/Desktop/output.xlsx")
# data.to_csv("/Users/joudsi/Desktop/output.csv")

,subject_id,hadm_id,icu,amdission_age,gender,thirty_day_mort,heartrate_mean,meanbp_mean,sysbp_mean,tempc_mean,...,bands_max,bilirubin_max,hemoglobin_max,lactate_max,ptt_max,inr_max,pt_max,bun_max,is_AKI,is_Betablocker
count,24934.000000,24934.000000,24934.000000,24934.000000,24934.000000,24934.000000,24866.000000,24864.000000,24844.000000,24512.000000,...,5420.000000,14806.000000,24666.000000,18212.000000,22542.000000,22630.000000,22632.000000,24706.000000,24934.000000,24934.00000
mean,38630.683725,149859.739833,250345.867610,66.835252,0.467554,0.410484,88.337630,76.168888,116.463336,36.852295,...,11.826790,2.403472,11.502643,3.279818,46.409218,1.843297,18.250000,35.500607,0.427208,0.48103
std,29479.915936,28851.325202,28799.288656,16.634056,0.498956,0.491931,16.760556,11.337191,17.244083,0.736654,...,11.863609,5.424064,2.044195,2.946103,31.812354,1.735631,11.308782,26.802297,0.494683,0.49965
min,3.000000,100011.000000,200003.000000,16.980400,0.000000,0.000000,34.844828,24.535714,46.000000,31.955555,...,0.900000,0.100000,4.800000,0.400000,14.400000,0.800000,9.300000,2.000000,0.000000,0.00000
25%,14208.250000,125245.000000,225507.000000,55.653500,0.000000,0.000000,76.200000,68.392469,104.105263,36.398149,...,3.000000,0.400000,10.000000,1.500000,28.300000,1.200000,13.500000,17.000000,0.000000,0.00000
50%,28140.000000,149619.500000,250704.500000,68.942000,0.000000,0.000000,87.400000,74.763257,113.500000,36.822222,...,8.000000,0.700000,11.300000,2.300000,34.200000,1.400000,15.000000,27.000000,0.000000,0.00000
75%,63365.750000,175196.000000,275475.750000,80.009500,1.000000,1.000000,99.620690,82.875000,126.913043,37.309524,...,17.000000,1.700000,12.800000,3.900000,47.700000,1.800000,18.325000,45.000000,1.000000,1.00000
max,99991.000000,199999.000000,299998.000000,91.400000,1.000000,1.000000,163.875000,133.000000,195.343750,40.000000,...,79.000000,82.800000,20.100000,32.000000,150.000000,48.200000,150.000000,272.000000,1.000000,1.00000